<%- include ./partials/header %>
    <h2>Add Movie</h2>
    <div class="std-body">
    <form action="/movie/add" method="post">
      <label for="movie_name">Movie name</label>
      <input type="text" name="movie_name" />
      <br>
      <label for="rating">Rating</label>
      <input type="text" name="rating">
      <br>
      <label for="genre">Genre</label>
      <input type="text" name="genre">
      <br>
      <label for="release_year">Release year</label>
      <input type="text" name="release_year">
      <br>
      <button class="btn btn-primary btn-sm active" type="submit">Add Movie</button>
    </form>
    <br>
    <button onclick="window.location.href='/movie'" class="btn btn-secondary btn-sm active">Previous Page</button>
    </div>
<%- include ./partials/footer %>
